<!DOCTYPE html>
{% load static %}

<head>
    <meta charset="utf-8">
    <title>ホーム</title>
    <link rel="stylesheet" href='{% static "App_Folder_css/hedder.css"%}' />
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2/dist/vue.global.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <!-- header -->
    <header>
        <h1 class="headline">
            <a>ラボログ</a>
        </h1>
        <div>
            {% if user.is_authenticated %}
            <ul class="nav-list">
                <li class="nav-list-item">
                    <h1>{{UserID}}さん</h1>
                </li>
                <li class="nav-list-item">
                    <a href="{% url 'Logout' %}">ログアウト</a>
                </li>
            </ul>
            {% else %}
            <ul class="nav-list">
                <li class="nav-list-item">
                    <a class=login href="{% url 'Login' %}">ログイン</a>
                </li>
                <li class="nav-list-item">
                    <a class=login href="{% url 'register' %}">新規登録</a>
                </li>
            </ul>
            {% endif %}
        </div>
    </header>
    <h1>学部と学科を選んでください!</h1>
    <form action="" method="post" class="select_all">
        {% csrf_token %}
        <span class="select_label">学部を選択してください</span>
        <span class="select_box">
            <select name="学部" id="学部">
                <!-- valueが送信させられる。 -->
                <option value="">選択してください</option>
                <option value="理学部">理学部</option>
                <option value="工学部">工学部</option>
                <option value="農学部">農学部</option>

            </select>
        </span>
        <span class="select_label">学科を選択してください</span>
        <span class="select_box">
            <select name="学科" id="学科">
                <option value="">選択してください</option>
                <option value="食料環境システム学科" data-val="農学部">食料環境システム学科</option>
                <option value="生命機能科学科" data-val="農学部">生命機能科学科</option>
                <option value="資源生命科学科" data-val="農学部">資源生命科学科</option>
                <option value="建築学科" data-val="工学部">建築学科</option>
                <option value="市民工学科" data-val="工学部">市民工学科</option>
                <option value="電気電子工学科" data-val="工学部">電気電子工学科</option>
                <option value="情報知能工学科" data-val="工学部">情報知能工学科</option>
                <option value="機械工学科" data-val="工学部">機械工学科</option>
                <option value="応用化学科" data-val="工学部">応用化学科</option>
                <option value="生物学科" data-val="理学部">生物学科</option>
                <option value="惑星科学科" data-val="理学部">惑星科学科</option>
                <option value="化学科" data-val="理学部">化学科</option>
                <option value="物理学科" data-val="理学部">物理学科</option>
                <option value="数学科" data-val="理学部">数学科</option>
            </select>

        </span>

        <span class="select_boxbottun"><input type="submit" value="決定"></span>

    </form>

    <script>
        var $dep = $('select[id="学科"]');
        $('select[id="学部"]').change(function () {
            var val1 = $(this).val();  //学部のvalueの値が返る
            $dep.find('option').each(function () { //
                var val2 = $(this).data('val');
                if (val1 === val2) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            })
        })
    </script>
    <a href="{% url 'review' %}">a</a>
    <div class="img_column">
        <!-- "p-panel-bg-img  " -->
        <section class=img>
            <a href="{% url 'detail' %}">
                <div class="p-panel-bg-img__img c-img-hover-zoom ">
                    <img src='{% static "App_Folder_css/labo_img/22c5152171e7f062800be66b2ae1cf03_t.png"%}'
                        class="js-object-fit-images" alt="" disablewebediting="False">
                </div>
                <div class="p-panel-bg-img__body js-match-height" style="">
                    <h3 class="c-head-md js-line-clamp-02 js-match-height-01 u-mb-small" style="">
                        SCM・ロジスティクス
                    </h3>
                    <p class=" js-line-clamp-03">
                        物流が変わる ～ロジスティクス改革～
                    </p>
                    <p class="p-block__link "><span class="c-btn-text-arrow c-btn-text-arrow--white">詳細はこちら
                            ::after</span>
                    </p>
                </div>
            </a>

            <section class=img>
                <a href="{% url 'detail' %}">
                    <div class="p-panel-bg-img__img c-img-hover-zoom ">
                        <img src='{% static "App_Folder_css/labo_img/25746788_s.png"%}' class="js-object-fit-images"
                            alt="" disablewebediting="False">
                    </div>
            </section>

    </div>

</body>

</html>