body{background-color: #faf0e6;
}
.select_label {
    display:block;
  }
.select_boxbottun{
    display:block;
  }

.select_all{
    vertical-align:  middle;

    text-align:  center;  
     /*コレ*/width: fit-content;
    /*コレ*/  margin: 0 auto;

}