* {
  margin: 0;
  padding: 0;
}


header {
  height: 100px;
  width: 100%;
  background-color: #1c1f1f;
  color: rgb(247, 236, 236);
  
}



.nav-list {
  line-height: 80px;
  float: right;
  margin-left: auto;
  margin-right: 0;
  list-style: none;
  position: absolute;
  right: 0;
}

.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}
.login{
  color: rgb(247, 236, 236);
}

body{
  height: 100vh;
background: #ffff;
}

.select_label {
  display: block;
}

.select_boxbottun {
  display: block;
}

.select_all {
  vertical-align: middle;
  text-align: center;
  width: fit-content;
  margin: 0 auto;

}

.homepage{
  text-align: center;
}

.img_column{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.img_link {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.img_body {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.inline_str {

  text-align: center;
}
.inline_str {
  color: black;
}


p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
